.Form {
    background-color: rgba(255, 255, 255, 0.8);
    /* Полупрозрачный белый фон */
    border-radius: 10px;
    /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Легкая тень */
    padding: 20px;
    /* Внутренние отступы */
    width: 500px;
    /* Ширина блока */
    text-align: center;
    /* Выравнивание текста по центру */
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    .Clear {
        cursor: pointer;
        width: 50px;
        height: 50px;
        background: red;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -60px;
        top: 0px;
        border-radius: 10px;
    }

    .InputCont {
        border-radius: 10px;
        border: 1px solid rgba(255, 192, 203, 0.726);
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: center;
        position: relative;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        .FocusedCount {
            left: 10px;
            position: absolute;
            transition: all 0.2s;
            top: -20px;
        }

        .UnFocusedCount {
            left: 0;
            position: absolute;
            transition: all 0.2s;
            opacity: 0;
        }

        .UnFocused {
            left: 10px;
            position: absolute;
            transition: all 0.2s;
        }

        .Focused {
            position: absolute;
            padding: 3px 5px;
            border-radius: 3px;
            left: -50px;
            transform: rotate(-90deg);
            font-size: 15px;
            transition: all 0.2s;
        }

        input {
            height: 40px;
            width: 400px;
            background: none;
            border: none;
            font-size: 20px;
        }

        input:focus {
            outline: none;
        }

    }

    .Priorety {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 10px;
        bottom: 20px;
        p {
            cursor: pointer;
            margin: 0;
            font-size: 20px;
        }
    }

    .BtnSub {
        top: 10px;
        right: 10px;    
        position: absolute;
        button {
            width: 60px;
            height: 100%;
            border-radius: 10px;
            outline: none;
            border: none;
            font-size: 20px;
            background: rgba(255, 192, 203, 0.726);
            color: rgba(8, 8, 8, 0.863);
        }

        button:focus {
            outline: none;
        }
    }
}