.App{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 99%;
    height: 98%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}